$border-color_1: #000;

footer {
	font-size: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-width: 7px;
	border-color: $border-color_1;
	border-style: double;
	grid-area: f;
}